{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Contact Us</h1>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69616.20702427058!2d69.47248070936566!3d-49.57647872146888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb36cabf2d157c333%3A0x61519604daf263f0!2sMont%20Ross!5e0!3m2!1sen!2s!4v1661790957215!5m2!1sen!2s" 
          width="600" 
          height="450" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>

        <div class="col-md-6 text-center">
          <strong>lol</strong><br />
          lol<br />
          lol, lol<br />
          lol<br />
          (lol) lol-lol<br />
          <a href="mailto:info@sfbb.ca">info@fsbb.ca</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
